<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="projectForm">
            <md-input-container class="md-block m-t-lg">
                <label>Name</label>
                <input ng-model="client.client_name">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Redirect URL</label>
                <input ng-model="client.redirect_url">
            </md-input-container>
            <md-input-container class="md-block">
                <label>Client Type</label>
                <md-select name="type" ng-model="client.client_type" required>
                    <md-option value="2">Password</md-option>
                    <md-option value="1">Personal</md-option>
                </md-select>
            </md-input-container>
            <p><b>Revoked - ?</b></p>
            <md-radio-group ng-model="client.is_revoked">
                <md-radio-button value="0" class="md-primary" checked>NO</md-radio-button>
                <md-radio-button value="1">Yes</md-radio-button>
            </md-radio-group>
            <div>
                <md-button class="md-raised md-primary pull-right" ng-click="createClient(client)">{{ edit ? "Edit" :
                    "Create"}}
                </md-button>
            </div>
        </form>
    </md-content>
</div>