<div layout="column" ng-cloak>
    <md-content layout-padding>
        <form name="projectForm">
            <div class="row">
                <div class="col-md-6">
                    <md-input-container class="md-block">
                        <label>First Name</label>
                        <input ng-model="new_user.first_name">
                    </md-input-container>
                </div>
                <div class="col-md-6">
                    <md-input-container class="md-block">
                        <label>Last Name</label>
                        <input ng-model="new_user.last_name">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <md-input-container class="md-block">
                        <label>Country Code</label>
                        <input ng-model="new_user.country_code">
                    </md-input-container>
                </div>
                <div class="col-md-9">
                    <md-input-container class="md-block">
                        <label>Contact Number</label>
                        <input ng-model="new_user.contact_number">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-input-container class="md-block">
                        <label>Email</label>
                        <input ng-model="new_user.email">
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <md-input-container class="md-block">
                        <label>Password</label>
                        <input ng-model="new_user.password">
                    </md-input-container>
                </div>
            </div>
            <div>
                <md-button class="md-raised md-primary pull-right" ng-click="createUser(new_user)">
                    {{ edit ? "Edit" : "Create"}}
                </md-button>
            </div>
        </form>
    </md-content>
</div>