<div class="panel panel-default no-margin">
    <div class="panel-heading">
        {{ role.name }}
    </div>
    <div class="panel-body">
        <table class="table" ui-jp="footable">
            <tbody>
            <tr>
                <td>Role Name</td>
                <td>{{ role.name }}</td>
            </tr>
            <tr>
                <td>Display Name</td>
                <td><a href>{{ role.display_name }}</a></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><a href>{{ role.description }}</a></td>
            </tr>
            <tr>
                <td>Removable</td>
                <td>{{ role.is_removable ? 'Yes' : 'Not' }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>