<div class="p-md bg-light lt b-b font-bold">Account Settings</div>
<div layout="column" ng-cloak class="md-inline-form">
    <md-content layout-full>
        <div>
            <md-list ng-cloak>
                <md-subheader class="md-no-sticky">Contact Number</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>{{ user_profile.contact_number | CreatePhoneNumberFilter: user_profile.country_code }}</p>
                    <md-button class="md-secondary md-raised" ng-click="setNewContactNumber(e)">Change</md-button>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Primary Email</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>{{ user_profile.email }}</p>
                    <md-button class="md-secondary md-raised" ng-click="setNewPrimaryEmail(e)">Change</md-button>
                </md-list-item>
                <md-divider></md-divider>
                <md-subheader class="md-no-sticky">Account Password</md-subheader>
                <md-list-item class="secondary-button-padding">
                    <p>Password</p>
                    <md-button class="md-secondary md-raised" ng-click="setNewPassword(e)">Change</md-button>
                </md-list-item>
                <md-divider></md-divider>
            </md-list>
        </div>
    </md-content>
</div>
