<div class="box bg-white">
    <div class="navbar no-radius">
        <!-- brand -->
        <a class="navbar-brand">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
            <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
            <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
            <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
            <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
          </svg>
            <img src="images/logo.png" alt="." style="max-height: 36px; display:none">
            <span class="hidden-folded m-l inline">{{app.name}}</span>
        </a>
        <!-- / brand -->
    </div>
    <div class="box-row">
        <div class="box-cell scrollable hover">
            <div class="box-inner">
                <div id="nav" ng-include="'views/partials/aside.nav.uikit.html'"></div>
                <div id="account" class="m-v-xs">
                    <nav>
                        <ul class="nav">
                            <li class="p p-v-sm hidden-folded">
                                <div ng-include="'views/partials/aside.setting.html'"></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav b-t b">
            <li>
                <a href="http://themeforest.net/item/materil-responsive-admin-dashboard-template/11062969"
                   target="_blank" md-ink-ripple>
                    <i class="icon mdi-action-help i-20"></i>
                    <span>Help &amp; Feedback</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
