<div class="box bg-white">
    <div class="navbar md-whiteframe-z1 no-radius"
         ng-class="$state.current.data.theme ? $state.current.data.theme.primary : app.setting.theme.primary">
        <!-- brand -->
        <a class="navbar-brand">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve" style="
              width: 24px; height: 24px;">
            <path d="M 50 0 L 100 14 L 92 80 Z" fill="rgba(139, 195, 74, 0.5)"></path>
            <path d="M 92 80 L 50 0 L 50 100 Z" fill="rgba(139, 195, 74, 0.8)"></path>
            <path d="M 8 80 L 50 0 L 50 100 Z" fill="#f3f3f3"></path>
            <path d="M 50 0 L 8 80 L 0 14 Z" fill="rgba(220, 220, 220, 0.6)"></path>
          </svg>
            <img src="images/logo.png" alt="." style="max-height: 36px; display:none">
            <span class="hidden-folded m-l inline">{{app.name}}</span>
        </a>
        <!-- / brand -->
    </div>
    <div class="box-row">
        <div class="box-cell scrollable hover">
            <div class="box-inner">
                <div class="p hidden-folded"
                     ng-class="$state.current.data.theme ? $state.current.data.theme.primary+'-50' : app.setting.theme.primary+'-50'"
                     style="background-image:url(images/bg.png); background-size:cover">
                    <div class="rounded w-64 bg-white inline pos-rlt">
                        <img src="{{ user.profile_pic }}" class="img-responsive rounded">
                    </div>
                    <a class="block m-t-sm" ng-controller="HomeController" ui-toggle-class="hide, show"
                       target="#nav, #account">
                        <span class="block font-bold">{{ user.full_name }}</span>
                        <span class="pull-right auto">
                            <i class="fa inline fa-caret-down"></i>
                            <i class="fa none fa-caret-up"></i>
                        </span>
                        {{ user.email }}
                    </a>
                </div>
                <div id="nav" class="m-v-xs" ng-include="'views/partials/admin.aside.nav.html'"></div>
                <div id="account" class="hide m-v-xs" ng-include="'views/partials/user.aside.nav.html'"></div>
            </div>
        </div>
    </div>
    <nav>
        <ul class="nav b-t b">
            <li>
                <a href target="_blank" md-ink-ripple>
                    <i class="icon mdi-action-help i-20"></i>
                    <span>Contact Sumit</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
