<div class="p-lg panel md-whiteframe-z1 text-color m">
    <div class="m-b text-sm">
        Create new {{ app.name }} Account Password
    </div>
    <div class="m-b-md">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeMsg($index)">{{alert.msg}}</alert>
    </div>
    <form name="form" ng-submit="changePassword()">
        <div class="md-form-group float-label">
            <input type="password" class="md-input" ng-model="user.new_password" required>
            <label>New Password</label>
        </div>
        <div class="md-form-group float-label">
            <input type="password" class="md-input" ng-model="user.confirm_password" required>
            <label>Confirm Password</label>
        </div>
        <button md-ink-ripple type="submit"
                class="md-btn md-raised pink btn-block p-h-md">Change
        </button>
    </form>
</div>