<div class="p-lg panel md-whiteframe-z1 text-color m">
    <div class="m-b">
        Forgot your password?
    </div>
    <div class="m-b-md">
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <form name="reset" ng-submit="forgotPassword()">
        <div class="md-form-group">
            <input type="email" ng-model="email" class="md-input" required>
            <label>Your Email</label>
        </div>
        <button md-ink-ripple type="submit" class="md-btn md-raised pink btn-block p-h-md" title="Hey!"
                data-content="Instructions sent to your email." data-type="info" data-container="#alerts-container"
                bs-alert ng-disabled="reset.$invalid">Send
        </button>
    </form>
</div>
<p id="alerts-container"></p>
<div class="p-v-lg text-center">Return to
    <button ui-sref="authentication.signin" class="md-btn">sign in</button>
</div>