<div class="panel panel-default md-whiteframe-z1 text-color m">
    <div class="panel-heading text-center">
        Installing {{app.name}} [Step - 2]
    </div>
</div>
<div class="panel panel-default md-whiteframe-z1 text-color m">
    <table class="table table-striped m-b-none">
        <tbody>
        <tr>
            <td class="text-success">Checking Server Connection.......</td>
            <td class="pull-right">
                <span class="badge bg-primary" ng-show="server_connection">
                    <i class="fa fa-check"></i>
                </span>
                <span class="badge bg-danger" ng-show="!server_connection">
                         <i class="fa fa-warning"></i>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="m" ng-show="!server_connection">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeMsg($index)">{{alert.msg}}</alert>
</div>
<div class="panel panel-default md-whiteframe-z1 text-color m" ng-show="server_connection">
    <table class="table table-striped m-b-none">
        <tbody>
        <tr>
            <td>Server Host</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ server.HOST }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Server Port</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ server.PORT }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Server Url</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ server.URL }}
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <a md-ink-ripple type="button" class="md-btn md-raised pink" ui-sref="authentication.installation_app">
            Install App
        </a>
    </div>
</div>