<div class="panel panel-default md-whiteframe-z1 text-color m">
    <div class="panel-heading text-center">
        Installing {{app.name}} [Step - 1]
    </div>
</div>
<div class="panel panel-default md-whiteframe-z1 text-color m">
    <table class="table table-striped m-b-none">
        <tbody>
        <tr>
            <td class="text-success">Checking Database Connection.......</td>
            <td class="pull-right">
                <span class="badge bg-primary" ng-show="database_connection">
                    <i class="fa fa-check"></i>
                </span>
                <span class="badge bg-danger" ng-show="!database_connection">
                         <i class="fa fa-warning"></i>
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="m" ng-show="!database_connection">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeMsg($index)">{{alert.msg}}</alert>
</div>
<div class="panel panel-default md-whiteframe-z1 text-color m" ng-show="database_connection">
    <table class="table table-striped m-b">
        <tbody>
        <tr>
            <td>Database Name</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ database.DB_DATABASE_NAME }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Database Host</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ database.DB_HOST }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Database Port</td>
            <td class="pull-right">
                <span class="badge bg-danger">{{ database.DB_PORT }}</span>
            </td>
        </tr>
        <tr>
            <td>Database UserName</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ database.DB_USERNAME }}
                    </span>
            </td>
        </tr>
        <tr>
            <td>Database Password</td>
            <td class="pull-right">
                    <span class="badge bg-danger">
                         {{ database.DB_PASSWORD }}
                    </span>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <a md-ink-ripple class="md-btn md-raised pink" ui-sref="authentication.installation_server">Continue</a>
    </div>
</div>