<h4>Clients Information</h4>
<div class="row m-t">
    <div class="col-sm-12">
        <accordion close-others="true">
            <div ng-repeat="client in clients" class="m-b-sm b-l-primary">
                <accordion-group heading="{{ client.client_name }}">
                    <div class="list-group md-whiteframe-z0">
                        <table class="table table-striped m-b-none">
                            <tbody>
                            <tr>
                                <th style="width: 50%">
                                    Client ID
                                </th>
                                <td class="text-success">
                                    <span class="badge bg-warning">{{ client._id }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 50%">
                                    Client Secret
                                </th>
                                <td>
                                    <span class="badge bg-accent">{{ client.client_secret }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 50%">
                                    User ID
                                </th>
                                <td class="text-danger">
                                    <span class="badge bg-success">{{ client._user_access_id }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 50%">
                                    Client Type
                                </th>
                                <td class="text-success">
                                    <span class="badge bg-accent">{{ client.client_type }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 50%">
                                    Redirect Url
                                </th>
                                <td class="text-danger">
                                    <span class="badge bg-danger">{{ client.redirect_url }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th style="width: 50%">
                                    Revoked
                                </th>
                                <td class="text-warning">
                                    <span class="badge bg-accent">{{ client.is_revoked }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-sm-12 pull-right">
                        <button type="button" class="btn btn-primary" ng-click="editClientDialog(client)">Edit</button>
                        <button type="button" class="btn btn-warning" ng-click="deleteClient(client)">Delete</button>
                    </div>
                </accordion-group>
            </div>
        </accordion>
        <!-- / accordion -->
    </div>
</div>
<a href class="md-btn md-fab md-fab-bottom-right pos-fix teal" ng-click="newClientDialog()">
    <i class="mdi-content-add i-24"></i>
</a>
