<div class="row row-xs">
    <div class="col-sm-3">
        <div class="panel panel-card b-m">
            <div class="panel-body text-center deep-orange-200">
                <div class="pull-left">
                    <i class="mdi-action-face-unlock text-4x"></i>
                </div>
                <div class="text-default font-bold pull-right">
                    <span class="h2">{{ total_users }}</span>
                    <br>
                    <span class="h4">Total Users</span>
                </div>
            </div>
            <div class="b-t p font-bold">
                <a md-ink-ripple ui-sref="admin.users">Show All Users<i
                        class="mdi-file-file-upload pull-right text-2x"></i></a>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="panel panel-card b-m">
            <div class="panel-body text-center indigo-200">
                <div class="pull-left">
                    <i class="mdi-hardware-keyboard text-4x"></i>
                </div>
                <div class="font-bold pull-right">
                    <span class="h2">{{ total_applications }}</span>
                    <br>
                    <span class="h4">Total Apps</span>
                </div>
            </div>
            <div class="b-t p font-bold">
                <a md-ink-ripple ui-sref="admin.clients">Show All Apps<i
                        class="mdi-file-file-upload pull-right text-2x"></i></a>
            </div>
        </div>
    </div>
</div>
