<div class="row row-sm">
    <div class="col-sm-3">
        <div class="panel panel-card">
            <div class="r-t pos-rlt" md-ink-ripple style="background:url(images/a0.jpg) center center; background-size:cover">
                <div class="p-lg bg-white-overlay text-center r-t">
                    <a href class="w-xs inline">
                        <img src="{{ user.profile_pic }}" class="img-circle img-responsive">
                    </a>
                    <div class="m-b m-t-sm h2">
                        <span class="">{{ user_profile.user_details.first_name + ' ' +user_profile.user_details.last_name }} <br>
                            <small>({{ user_profile.user_details.nick_name ? user_profile.user_details.nick_name : 'Nick Name' }})</small>
                        </span>
                    </div>
                </div>
            </div>
            <div ng-cloak>
                <md-content>
                    <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                        <md-tab label="Intro">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Personal Information</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-person i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3>{{ user_profile.user_details.first_name + ' ' +user_profile.user_details.last_name }}</h3>
                                            <p>Full Name</p>
                                        </div>
                                    </md-list-item>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-social-cake i-24"></md-icon>
                                        <div class="md-list-item-text">
                                            <h3>{{ user_profile.user_details.dob | DateFilter}}</h3>
                                            <p>Birthday</p>
                                        </div>
                                    </md-list-item>
                                    <md-divider></md-divider>
                                    <md-subheader class="md-no-sticky">Gender</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-maps-place i-24"></md-icon>
                                        <div class="md-list-item-text">
                                            <h3>{{ user_profile.user_details.sex | SexFilter }}</h3>
                                            <p>Sex</p>
                                        </div>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                        <md-tab label="Contacts">
                            <md-content class="md-padding">
                                <md-list flex>
                                    <md-subheader class="md-no-sticky">Contact Numbers</md-subheader>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-hardware-phone-iphone i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> {{ user_profile.contact_number | CreatePhoneNumberFilter: user_profile.country_code }}</h3>
                                            <p> Mobile Number </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                                <md-divider></md-divider>
                                <md-subheader class="md-no-sticky">Email Addresses</md-subheader>
                                <md-list flex>
                                    <md-list-item class="md-2-line">
                                        <md-icon class="mdi-communication-email i-24"></md-icon>
                                        <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                            <h3> {{ user_profile.email }} </h3>
                                            <p> Email Address </p>
                                        </div>
                                        <md-button class="md-secondary md-icon-button" ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon" aria-label="call">
                                            <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                        </md-button>
                                    </md-list-item>
                                </md-list>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-content>
            </div>
        </div>
        <a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green" ui-sref="app.settings.public">
            <i class="mdi-editor-mode-edit i-24"></i>
        </a>
    </div>
    <div class="col-sm-9">
        <div ng-cloak>
            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Activities" md-on-select="getUserDetails()">
                        <md-content class="md-padding">
                            <ul class="timeline" ng-class="{'timeline-center': center}">
                                <li class="tl-header">
                                    <div class="btn btn-default">Today</div>
                                </li>
                                <li class="tl-item">
                                    <div class="tl-wrap b-info">
                                        <span class="tl-date text-muted">5s ago</span>
                                        <div class="tl-content">
                                            Simple timeline title
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-item">
                                    <div class="tl-wrap">
                                        <span class="tl-date text-muted">2h ago</span>
                                        <div class="tl-content panel panel-card p-sm">
                                            <span class="arrow b-white left pull-top"></span>
                                            <div>Content in a panel with arrow</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-item tl-left">
                                    <div class="tl-wrap b-primary">
                                        <span class="tl-date text-muted">7:30 am</span>
                                        <div class="tl-content panel panel-card bg-primary p-sm">
                                            <span class="arrow b-primary left pull-top hidden-left"></span>
                                            <span class="arrow b-primary right pull-top visible-left"></span>
                                            <div class="text-lt">Content with background</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-item">
                                    <div class="tl-wrap b-primary">
                                        <span class="tl-date text-muted">04.2014</span>
                                        <div class="tl-content panel panel-card w-xl w-auto-xs">
                                            <span class="arrow b-white left pull-top"></span>
                                            <div class="text-lt p-h m-b-sm">With Title</div>
                                            <div class="p b-t b-light">
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-item tl-left">
                                    <div class="tl-wrap b-success">
                                        <span class="tl-date text-muted">04.2014</span>
                                        <div class="tl-content panel panel-card bg-info dk block">
                                            <span class="arrow b-info left pull-top hidden-left"></span>
                                            <span class="arrow b-info right pull-top visible-left"></span>
                                            <div class="text-lt p-h m-b-sm font-bold">Block</div>
                                            <div class="panel-body b-t b-info">
                                                Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-header">
                                    <div class="btn btn-sm btn-default btn-rounded">2014</div>
                                </li>
                                <li class="tl-item">
                                    <div class="tl-wrap">
                                        <span class="tl-date text-muted">10.08.2013</span>
                                        <div class="tl-content panel panel-card p-sm">
                                            <span class="arrow b-white left pull-up hidden-left"></span>
                                            <span class="arrow b-white right pull-up visible-left"></span>
                                            <div class="text-lt">A good story to hear.</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-header">
                                    <i class="ui-icon fa fa-twitter b-white b-2x bg-info"></i>
                                </li>
                                <li class="tl-item tl-left">
                                    <div class="tl-wrap b-white">
                                        <span class="tl-date text-muted">5.07.2013</span>
                                        <div class="tl-content panel  panel-card p-sm">
                                            <span class="arrow b-white left pull-up hidden-left"></span>
                                            <span class="arrow b-white right pull-up visible-left"></span>
                                            <div class="text-lt">Yesterday is History</div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tl-header">
                                    <div class="btn btn-sm btn-default btn-rounded">more</div>
                                </li>
                            </ul>
                        </md-content>
                    </md-tab>
                    <md-tab label="Sessions" md-on-select="getUserSessions()">
                        <md-content class="md-padding">
                            <table class="table m-b-none" ui-jp="footable" data-filter="#filter" data-page-size="5" data-sorting="false">
                                <thead>
                                    <tr style="background-color: #f7f7f7">
                                        <th data-toggle="true" data-sorting="false">
                                            IP Address
                                        </th>
                                        <th>
                                            User Agent
                                        </th>
                                        <th>
                                            Last Activity
                                        </th>
                                        <th data-sorting="false">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="user in UserSessions">
                                        <td>{{ user.ip_address }}</td>
                                        <td><a href>{{ user.user_agent }}</a></td>
                                        <td data-value="{{ user.login_at | date}}">{{ user.login_at | date }}</td>
                                        <td>
                                            <button popover="Invalidate!" popover-trigger="mouseenter" class="btn btn-danger btn-icon" ng-click="UserSessionInvalidate(user.access_token)"><i class="fa fa-remove"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot class="hide-if-no-paging">
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <ul class="pagination"></ul>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>
<a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green" ui-sref="admin.users_settings.public({user_id: user_profile._id})">
    <i class="mdi-editor-mode-edit i-24"></i>
</a>
