
    <div>
        <table class="table m-b-none">
            <thead>
            <tr style="background-color: #f7f7f7">
                <th data-toggle="true">
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Registration Date
                </th>
                <th>
                    Status
                </th>
                <th data-sort-ignore="true">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <td>{{ user.user_details.first_name + ' ' + user.user_details.last_name }}</td>
                <td>{{ user.email }}</td>
                <td data-value="{{ user.created_at | date}}">{{ user.created_at | date}}</td>
                <td data-value="{{ user.activated }}">
                    <span class="label"
                          ng-class="{ 'bg-warning': user.activated == 0, 'bg-success': user.activated == 1, 'bg-dark': user.activated == 2, 'bg-danger': user.activated == 3 }">
                        {{ user.activated | UserStatus }}
                    </span>
                </td>
                <td>
                    <div class="btn-group" dropdown is-open="status.isopen">
                        <button type="button" class="btn btn-primary" dropdown-toggle ng-disabled="disabled">
                            Action <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href ui-sref="admin.users_profile({user_id: user._id})">View</a></li>
                            <li><a href ui-sref="admin.users_settings.public({user_id: user._id})">Edit</a></li>
                            <li class="divider"></li>
                            <li><a href>Delete</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
            <tfoot class="hide-if-no-paging">
            <tr>
                <td colspan="5" class="text-center">
                    <ul class="pagination"></ul>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
<a href class="md-btn md-fab md-fab-bottom-right pos-fix teal" ng-click="newUserDialog()">
    <i class="mdi-content-add i-24"></i>
</a>