<div class="panel panel-card">
    <div class="r-t pos-rlt" md-ink-ripple
         style="background:url(images/a0.jpg) center center; background-size:cover">
        <div class="p-lg bg-white-overlay text-center r-t">
            <a href class="w-xs inline">
                <img src="{{ user.profile_pic }}" class="img-circle img-responsive">
            </a>
            <div class="m-b m-t-sm h2">
                        <span class="">{{ user.full_name }}
                            <small>({{ user.nick_name }})</small>
                        </span>
            </div>
        </div>
    </div>
    <div ng-cloak>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
                <md-tab label="Intro">
                    <md-content class="md-padding">
                        <md-list flex>
                            <md-subheader class="md-no-sticky">Personal Information</md-subheader>
                            <md-list-item class="md-2-line">
                                <md-icon class="mdi-social-person i-24"></md-icon>
                                <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                    <h3>{{ user.full_name }}</h3>
                                    <p>Full Name</p>
                                </div>
                            </md-list-item>
                            <md-list-item class="md-2-line">
                                <md-icon class="mdi-social-cake i-24"></md-icon>
                                <div class="md-list-item-text">
                                    <h3>{{ user.dob | DateFilter }}</h3>
                                    <p>Birthday</p>
                                </div>
                            </md-list-item>
                            <md-divider></md-divider>
                            <md-subheader class="md-no-sticky">Gender</md-subheader>
                            <md-list-item class="md-2-line">
                                <md-icon class="mdi-maps-place i-24"></md-icon>
                                <div class="md-list-item-text">
                                    <h3>{{ user.sex | SexFilter }}</h3>
                                    <p>Sex</p>
                                </div>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
                <md-tab label="Contacts">
                    <md-content class="md-padding">
                        <md-list flex>
                            <md-subheader class="md-no-sticky">Contact Numbers</md-subheader>
                            <md-list-item class="md-2-line">
                                <md-icon class="mdi-hardware-phone-iphone i-24"></md-icon>
                                <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                    <h3> {{ user.contact_number | CreatePhoneNumberFilter: user.country_code
                                        }}</h3>
                                    <p> Mobile Number </p>
                                </div>
                                <md-button class="md-secondary md-icon-button"
                                           ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                           aria-label="call">
                                    <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                        <md-divider></md-divider>
                        <md-subheader class="md-no-sticky">Email Addresses</md-subheader>
                        <md-list flex>
                            <md-list-item class="md-2-line">
                                <md-icon class="mdi-communication-email i-24"></md-icon>
                                <div class="md-list-item-text" ng-class="{'md-offset': phone.options.offset }">
                                    <h3> {{ user.primary_email }} </h3>
                                    <p> Email Address </p>
                                </div>
                                <md-button class="md-secondary md-icon-button"
                                           ng-click="doSecondaryAction($event)" ng-if="phone.options.actionIcon"
                                           aria-label="call">
                                    <md-icon class="mdi-maps-local-phone i-20"></md-icon>
                                </md-button>
                            </md-list-item>
                        </md-list>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </div>
</div>
<a md-ink-ripple class="md-btn md-fab md-fab-bottom-right pos-fix green" ui-sref="app.settings.public">
    <i class="mdi-editor-mode-edit i-24"></i>
</a>