<ul class="nav nav-lists b-t" ui-nav>
    <li class="active">
        <a md-ink-ripple ui-sref="page.pc.settings.public" ng-click="showSettingsPanel('public')">Profile</a>
    </li>
    <li>
        <a md-ink-ripple ui-sref="page.pc.settings.account" ng-click="showSettingsPanel('account')">Account</a>
    </li>
    <li>
        <a md-ink-ripple ui-sref="page.pc.settings.notifications" ng-click="showSettingsPanel('notifications')">Notifications</a>
    </li>
</ul>