// Button variants
// -------------------------
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons
.btn-variant(@color; @background; @border) {
  color: @color !important;
  background-color: @background;
  border-color: @border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  &.btn-stroke:hover,
  &.btn-stroke:focus,
  &.btn-stroke:active,
  &.btn-stroke.active,
  .open .dropdown-toggle& {
    color: @color !important;
    background-color: darken(@background, 5%) !important;
    border-color: darken(@border, 8%) !important;
  }

  &.btn-addon {
    > i {
      border: 1px solid darken(@border, 6%);
      background-color: darken(@background, 6%);
    }
  }
  &.btn-stroke {
    color: @background !important;
    background-color: transparent;
  }
}

.btn-default {
  .btn-variant(@text-color, @btn-default-bg, @btn-default-border);
}

.btn-primary {
  .btn-variant(#fff, @primary, @primary);
}

.btn-success {
  .btn-variant(#fff, @success, @success);
}

.btn-info {
  .btn-variant(#fff, @info, @info);
}

.btn-warning {
  .btn-variant(#fff, @warning, @warning);
}

.btn-danger {
  .btn-variant(#fff, @danger, @danger);
}

.btn-accent {
  .btn-variant(#fff, @accent, @accent);
}

.btn-dark {
  .btn-variant(#fff, @dark, @dark);
}

.btn-light {
  .btn-variant(@text-color, @light, @light);
}

.btn {
  font-weight: 500;
  border-radius: @btn-border-radius;
  outline: 0 !important;
  box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
  > i {
    &.pull-left,
    &.pull-right {
      line-height: 1.428571429;
    }
  }
}

.btn-link {
  color: @text-color;
  &.active {
    webkit-box-shadow: none;
    box-shadow: none;
  }
}

.btn-block {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
  border-top-right-radius: @border-radius-base;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
  border-bottom-left-radius: @border-radius-base;
}

.btn-rounded {
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  &.btn-lg {
    padding-left: 25px;
    padding-right: 25px;
  }
}

.btn-addon {
  i {
    margin: -7px -12px;
    margin-right: 12px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    float: left;
    position: relative;
    left: -1px;
    border-radius: @btn-border-radius 0 0 @btn-border-radius;
    &.pull-right {
      left: auto;
      right: -1px;
      margin-right: -12px;
      margin-left: 12px;
      border-radius: 0 @btn-border-radius @btn-border-radius 0;
    }
  }
  &.btn-sm {
    i {
      margin: -6px -10px;
      margin-right: 10px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      &.pull-right {
        margin-right: -10px;
        margin-left: 10px;
      }
    }
  }
  &.btn-lg {
    i {
      margin: -11px -16px;
      margin-right: 16px;
      width: 46px;
      height: 46px;
      line-height: 45px;
      &.pull-right {
        margin-right: -16px;
        margin-left: 16px;
      }
    }
  }
}

.btn-clip {
  border-color: rgba(0, 0, 0, 0.1) !important;
  background-clip: padding-box;
}

.btn-icon {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 34px;
  height: 34px;
  text-align: center;
  padding: 0;
  text-align: center;
  line-height: 34px;
  &.btn-sm {
    width: 30px;
    height: 30px;
    line-height: 30px;
  }
  &.btn-lg {
    width: 45px;
    height: 45px;
    line-height: 45px;
  }
}

.btn-groups .btn {
  margin-bottom: 5px;
}

.btn-fw {
  min-width: 120px;
}
