.list-group {
  border-radius: @border-radius-base;
  background: #fff;
  &.no-radius {
    .list-group-item {
      border-radius: 0 !important;
    }
  }
  &.no-borders {
    .list-group-item {
      border: none;
    }
  }
  &.no-border {
    .list-group-item {
      border-width: 1px 0;
    }
  }
  &.no-bg {
    .list-group-item {
      background-color: transparent;
    }
  }
  &.list-group-gap {
    background: transparent;
  }
}

.list-group-item {
  border-left-color: transparent;
  border-right-color: transparent;
  border-color: rgba(110, 115, 120, 0.045);
  background: transparent;
  padding: 12px 16px;
  a& {
    color: inherit;
    &:hover,
    &:focus,
    &.hover {
      color: inherit;
      background-color: rgba(110, 115, 120, 0.075);
    }
  }
  &.media {
    margin-top: 0;
  }
  &.active,
  &.active:hover,
  &.active:focus {
    color: inherit;
    background-color: rgba(110, 115, 120, 0.075);
    border-color: transparent;
    border-bottom-color: 1px solid rgba(110, 115, 120, 0.075);
    a {
      color: inherit;
    }
  }
  .list-group-alt & {
    &:nth-child(2n+2) {
      background-color: rgba(110, 115, 120, 0.075);
    }
    &.active:nth-child(2n+2) {
      background-color: rgba(110, 115, 120, 0.075);
    }
  }
  .list-group-lg & {
    padding: 16px 24px;
  }
  .list-group-md & {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .list-group-sm & {
    padding: 10px 12px;
  }
  .list-group-gap & {
    margin-bottom: 5px;
    border-radius: 3px;
    background: #fff;
  }
}
