.progress {
  background-color: @light;
}

.progress-xxxs {
  height: 1px
}

.progress-xxs {
  height: 2px
}

.progress-xs {
  height: 6px
}

.progress-sm {
  height: 12px;
  .progress-bar {
    font-size: 10px;
    line-height: 12px;
  }
}

.progress, .progress-bar {
  .box-shadow(none);
}

.progress-bar-primary {
  background-color: @primary;
}

.progress-bar-info {
  background-color: @info;
}

.progress-bar-success {
  background-color: @success;
}

.progress-bar-warning {
  background-color: @warning;
}

.progress-bar-danger {
  background-color: @danger;
}

.progress-bar-accent {
  background-color: @accent;
}

.progress-bar-dark {
  background-color: @dark;
}

.progress-bar-white {
  background-color: #fff;
}
