.col-0 {
  clear: left;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter [class*="col"] {
  padding: 0;
}

.row-sm {
  margin-left: -8px;
  margin-right: -8px;
  > div {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.row-xs {
  margin-left: -4px;
  margin-right: -4px;
  > div {
    padding-left: 4px;
    padding-right: 4px;
  }
}

// sm
@media (max-width: 992px) {
  .row {
    margin-left: -8px;
    margin-right: -8px;
    > div {
      padding-left: 8px;
      padding-right: 8px;
    }
  }

  .row-2 [class*="col"] {
    width: 50%;
    float: left;
  }

  .row-2 .col-0 {
    clear: none;
  }

  .row-2 li:nth-child(odd) {
    clear: left;
    margin-left: 0;
  }
}

// xs
@media (max-width: 767px) {
  .row {
    margin-left: -4px;
    margin-right: -4px;
    > div {
      padding-left: 4px;
      padding-right: 4px;
    }
  }
}
