.card {
  .box-shadow(0 1px 2px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  position: relative;
  margin-bottom: 24px
}

.card-heading {
  position: relative;
  padding: 20px 24px;
  h2 {
    margin: 0;
    font-size: 18px;
  }
  small {
    display: block;
    margin-top: 8px;
    opacity: 0.5;
  }
}

.card-body {
  padding: 20px 24px;
}

.card-divider {
  border-bottom: 1px solid rgba(110, 115, 120, 0.15);
  margin: 0 24px;
}

.card-tools {
  position: absolute;
  right: 12px;
  top: 12px
}
