.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.box-shadow {
  .box-shadow(0 1px 3px rgba(0, 0, 0, 0.05));
}

.box-shadow-md {
  .box-shadow(0 3px 5px rgba(0, 0, 0, 0.05));
}

.box-shadow-lg {
  .box-shadow(0 5px 10px rgba(0, 0, 0, 0.05));
}

.box-shadow-inset {
  .box-shadow(inset 0 -3px 0 rgba(0, 0, 0, 0.15));
}

.text-shadow {
  text-shadow: 0 4px 0 rgba(0, 0, 0, .1);
}
