.no-padding {
  padding: 0 !important;
}

.no-padding-h {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-padding-v {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-xs {
  padding: 4px;
}

.p-sm {
  padding: 8px;
}

.p {
  padding: 16px;
}

.p-md {
  padding: 24px;
}

.p-lg {
  padding: 32px;
}

.p-h {
  padding-left: 16px;
  padding-right: 16px;
}

.p-h-xs {
  padding-left: 4px;
  padding-right: 4px;
}

.p-h-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.p-h-md {
  padding-left: 24px;
  padding-right: 24px;
}

.p-h-lg {
  padding-left: 32px;
  padding-right: 32px;
}

.p-v {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-v-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-v-sm {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-v-md {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-v-lg {
  padding-top: 32px;
  padding-bottom: 32px;
}

.padding {
  padding: 32px 32px;
}

.padding-out {
  margin: -32px -32px;
}

// sm
@media (max-width: 992px) {
  .padding {
    padding: 16px 16px;
  }

  .padding-out {
    margin: -16px -16px;
  }
}

// xs
@media (max-width: 767px) {
  .padding {
    padding: 8px 8px;
  }

  .padding-out {
    margin: -8px -8px;
  }
}
