.no-radius {
  border-radius: 0 !important;
}

.no-r-t {
  .border-top-radius(0);
}

.no-r-r {
  .border-right-radius(0);
}

.no-r-b {
  .border-bottom-radius(0);
}

.no-r-l {
  .border-left-radius(0);
}

.r {
  border-radius: @border-radius-base;
}

.r-t {
  .border-top-radius(@border-radius-base);
}

.r-r {
  .border-right-radius(@border-radius-base);
}

.r-b {
  .border-bottom-radius(@border-radius-base);
}

.r-l {
  .border-left-radius(@border-radius-base);
}

.r-2x {
  border-radius: @border-radius-base * 2;
}

.r-3x {
  border-radius: @border-radius-base * 3;
}
