<nav ui-nav>
    <ul class="nav">
        <li>
            <a md-ink-ripple ui-sref="admin.dashboard">
                <i class="icon mdi-action-perm-contact-cal i-20"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="m-v-sm b-b b"></li>
        <li ng-if="!isMobileDevice">
            <a md-ink-ripple ui-sref="page.pc.profile">
                <i class="icon mdi-action-perm-contact-cal i-20"></i>
                <span>My Profile</span>
            </a>
        </li>
        <li ng-if="isMobileDevice">
            <a md-ink-ripple ui-sref="page.sp.profile">
                <i class="icon mdi-action-perm-contact-cal i-20"></i>
                <span>My Profile</span>
            </a>
        </li>
        <li ng-if="isMobileDevice">
            <a md-ink-ripple ui-sref="app.activities">
                <i class="icon mdi-file-attachment i-20"></i>
                <span>Activities</span>
            </a>
        </li>
        <li ng-if="!isMobileDevice">
            <a md-ink-ripple ui-sref="page.pc.settings.public">
                <i class="icon mdi-action-settings i-20"></i>
                <span>Settings</span>
            </a>
        </li>
        <li ng-if="isMobileDevice">
            <a md-ink-ripple ui-sref="page.sp.settings">
                <i class="icon mdi-action-settings i-20"></i>
                <span>Settings</span>
            </a>
        </li>
        <li class="m-v-sm b-b b"></li>
        <li>
            <a md-ink-ripple ng-controller="AuthenticationController">
                <i class="icon mdi-action-exit-to-app i-20"></i>
                <span ng-click="logOut()">Logout</span>
            </a>
        </li>
    </ul>
</nav>