<!------- Organisational Details ------------------------------------------------------------>
<div class="p-md bg-light lt b-b font-bold">Change Contact Number</div>
<div layout="column" layout-padding ng-cloak class="md-inline-form">
    <div class="col-md-12">
        <form name="changeContactNumberForm">
            <md-content layout-full>
                <div layout="row">
                    <md-input-container>
                        <label>Country Code</label>
                        <input ng-model="user_profile.country_code" mask=" +99" clean="true" type="text" required>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>New Phone Number</label>
                        <input ng-model="user_profile.contact_number" mask="9999-9999-99" clean="true" type="text" required>
                    </md-input-container>
                </div>
                <md-input-container class="md-block">
                    <label>Password</label>
                    <input ng-model="user_profile.current_password" type="password" required minlength="6">
                </md-input-container>
                <button type="button" class="btn btn-info pull-right" ng-disabled="changeContactNumberForm.$invalid"
                        ng-click="changeNumber(user_profile)">Change
                </button>
                <button type="button" class="btn btn-info" ng-click="cancel()">Cancel</button>
            </md-content>
        </form>
    </div>
</div>